<!DOCTYPE html>
<html>
    <head>
        <title> Contact </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:wght@400;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav>
        <div class="container">
            <div class="card">
                <h2>Contact</h2>
                <div class="info-item">
                        <span class="info-label">Name:</span>
                        <span class="info-value">Princy Khandelwal</span>
                    </div>
                    <div class="info-item">
                        <span class="info-label">LinkedIn:</span>
                        <span class="info-value">
                            <a href="https://www.linkedin.com/in/princy-khandelwal-2186053ab/">LinkedIn</a>
                        </span>
                    </div>
                    <div class="info-item">
                        <span class="info-label">Github:</span>
                        <span class="info-value">
                            <a href="https://github.com/princykhandelwal369">Github</a>
                        </span>
                    </div>
                    <div class="info-item">
                        <span class="info-label">Email:</span>
                        <span class="info-value">princykhandelwal369@gmail.com</span>
                    </div>
            </div>
        </div>
    </body>
</html>